/*font styles*/
$headline-font-size: rem(65);
$headline-font-family: 'Ubuntu', sans-serif;
$headline-color: #474B51;
$headline-font-weight: 400;
$primary-font-family: 'Roboto', sans-serif;
$primary-font-size: rem(17);

/*colors*/
$primary-color: #134a9c;
$secondary-color: #eeb723;
$third-color: #e1e4ea;
$grey: #ccc;
/*buttons*/
$button-background-color: $secondary-color;
$button-border: 1px solid #f3ca59;
